<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="./bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="./app.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<br>

<div class="col-lg-12">
   <img src="images/pic1.png" calt="Cinque Terre" width="550" height="400" class="col-md-6">


    <div class=" history col-md-6">

       <h1 class="headfont">วัดดวงดี</h1>

        เป็นวัดที่อยู่ใกล้อนุสาวรีย์สามกษัตริย์ ตั้งอยู่ในตำบล ศรีภูมิ อำเภอเมือง จังหวัด
        เชียงใหม่ มีเนื้อที่ประมาณ 2 ไร่ 60 ตารางวา ประวัดของวัด ไม่เป็นที่ปรากฎแน่ชัดนัก แต่ตามหลักฐานที่
        ทางอดีตเจ้าอาวาส (พระอธิการบุญชู อภิปุญโญ) ได้ขอให้คุณปวงคำ ตุ้ยเขียว ค้นคว้าและเรียบเรียง
        พอทราบได้ว่า ประวัติวัดดวงดี เพราะเป็นวัดเก่าแก่แห่งหนึ่งของจังหวัดเชียงใหม่ ในแต่ละวัน มีทั้งชาวไทยและ
        ชาวต่างชาติเข้ามาเยี่ยมชมจำนวนมากเพราะเหตุว่าชื่อเป็น ชื่อมงคงวันดวงดีนั้นตามปรากฏหลักฐานข้อมูล
        มีมาหลายชื่อ เช่นวัด พันธุนมดี วัดอุดมดี วันพนมดีในปี 2513
    </div>

</div>

</body>
</html>