
<div class=" navbar navbar-inverse">
    <ul class="nav nav-pills">

    	<li ng-class="{true: 'active'}[menuActive('/addProduct')]" >
        	<a href="#/addProduct">Add Product</a>
    	</li>
    	<li ng-class="{true: 'active'}[menuActive('/listProduct')]">
        	<a href="#/listProduct">All products</a>
    	</li>
        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/contact">Contact</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/gallery">Gallery</a>
        </li>
        </ul>
</div><!--/.well -->

<!--ng-show="hasRole('admin')||hasRole('user')||hasRole('foreign user')"-->
<!--ng-show="hasRole('admin')"-->