<div class = "changenav">
<div class=" navbar navbar-inverse">
    <ul class="nav nav-pills">

        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/history" translate>menu.history</a>
        </li>
    	<li ng-class="{true: 'active'}[menuActive('/listProduct')]">
        	<a href="#/listProduct"translate>menu.news</a>
    	</li>
        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/activity" translate>menu.activity </a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/contact" translate>menu.contact </a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/gallery" translate>menu.gallery</a>
        </li>

        <li ng-class="{true: 'active'}[menuActive('/listProduct')]" >
            <a href="#/qanda" translate>menu.qa</a>
        </li>


        <a href="https://www.facebook.com/pages/%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%94%E0%B8%A7%E0%B8%87%E0%B8%94%E0%B8%B5-WatDuangDee-%E0%B8%95%E0%B8%A8%E0%B8%A3%E0%B8%B5%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4-%E0%B8%AD%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87-%E0%B8%88%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88/235249413192448?fref=ts">
            <img src="images/facebook.png" style= "position: absolute; right: 10px;">
        </a>
        </ul>
</div>
</div><!--/.well -->

<!--ng-show="hasRole('admin')||hasRole('user')||hasRole('foreign user')"-->
<!--ng-show="hasRole('admin')"-->