
<div class="sidebar-nav" ng-show="hasRole('admin')||hasRole('user')||hasRole('foreign user')">
    <ul class="nav nav-list">
        <li class="nav-header">Lab SE31 Menu bar</li>
    	<li ng-class="{true: 'active'}[menuActive('/addProduct')]" ng-show="hasRole('admin')">
        	<a href="#/addProduct">Add Product</a>
    	</li>
    	<li ng-class="{true: 'active'}[menuActive('/listProduct')]" ng-show="hasRole('admin')||hasRole('user')||hasRole('foreign user')">
        	<a href="#/listProduct">All products</a>
    	</li>
    </ul>
</div><!--/.well -->
