<div class="row-fluid">
    <div class="row" ng-show="addPerson">
        <h1>Add Account</h1>
    </div>
    <div class="row" ng-show="editPerson">
        <h1>Edit Account</h1>
    </div>
    <div class="col-md-4">
        <form name="acc" novalidate>
            <div class="form-group">
                <!-- Sidebar content-->
                <label for="username">Username :</label>
                <input ng-model="user.username" class="form-control" id="username" name="username" required/>

                <div class="alert alert-danger" role="alert" ng-show="acc.username.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Username is Required!
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input ng-model="user.password" class="form-control" id="password"
                       name="password" type="password" required/>

                <div class="alert alert-danger" role="alert" ng-show="acc.password.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Password is Required!
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="repassword">Re-Password :</label>-->
                <!--<input ng-model="repassword" class="form-control" id="repassword"-->
                       <!--name="repassword" type="password" required/>-->

                <!--<div class="alert alert-danger" role="alert" ng-show="acc.repassword.$error.required">-->
                    <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Error:</span>-->
                    <!--Re-Password is Required!-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" ng-model="user.email" class="form-control" id="email"
                       name="email" required/>

                <div class="alert alert-danger" role="alert" ng-show="acc.email.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Email is Required!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="acc.email.$error.email">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Email not in format!
                </div>
            </div>

            <button type="submit" class="btn btn-default" ng-click="addAccount()" ng-show="addPerson" ng-disabled="acc.email.$error.required || acc.email.$error.email || acc.username.$error.required || acc.password.$error.required">Add</button>
            <button type="submit" class="btn btn-default" ng-click="editAccount()" ng-show="editPerson" ng-disabled="acc.email.$error.required || acc.email.$error.email || acc.username.$error.required || acc.password.$error.required">Edit</button>


        </form>

        <br><br>

    </div>
</div>